@include tablet {
    .seccion-inferior {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entrada-blog {
    margin-bottom: 2rem;

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    img {
        width: 100%;
        height: auto;

        @include tablet {
            width: 30rem;
            height: 22rem;
            display: block;
            object-fit: cover;
        }
    }
}

.informacion-meta {
    span {
        color: $amarillo;
    }
}

.entrada-contenido {
    a {
        color: $negro;
        display: inline-block;
        margin-top: 2rem;

        @include tablet {
            margin: 0;
        }
    }

    h4 {
        margin: 0;
        line-height: 1.4;

        &::after {
            content: '';
            margin-top: 1rem;
            width: 15rem;
            height: .5rem;
            display: block;
            background-color: $verde;
        }
    }

}