.contacto {
    h2 {
        text-transform: capitalize;
    }

    img {
        width: 100%;
        height: auto;

        @include desktop {
            width: 120rem;
            height: 40rem;
            object-fit: cover;
        }
    }
}